### Based on what customers ask, filter the dataset and provide results accordingly.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Main.csv')

In [3]:
dataset.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator', 'city'],
      dtype='object')

In [4]:
dataset.shape

(32963, 42)

In [5]:
max(dataset['Area'])

16000

In [6]:
max(dataset['Price'])

854599999

In [7]:
city = ''
response = input("Do you have any preferred ciy in mind: ")
if response == 'yes':
    city = input("Choose among the metropoliton cities (Delhi, Banglore, Chennai, Mumbai, Kolkata, Hyderabad): ")
    dataset = dataset[dataset['city'] == city]

Do you have any preferred ciy in mind: Hyderabad

In [8]:
area = 0
area = int(input("Give preferred size of the house(max: 16000): "))
dataset = dataset[dataset['Area'] == area]

Give preferred size of the house(max: 16000): 2630

In [9]:
n_bedrooms = 0
n_bedrooms = int(input("Enter the number of bedrooms you want:"))
dataset = dataset[dataset['No. of Bedrooms'] == n_bedrooms]

Enter the number of bedrooms you want:4

In [10]:
response = input("Are you looking for all the basic facilities of a society: ")
if response == 'yes':
    dataset = dataset[(dataset['MaintenanceStaff']==1) & (dataset['Gymnasium']==1) & (dataset['SwimmingPool']==1) &
                      (dataset['LandscapedGardens']==1) & (dataset['JoggingTrack']==1) & (dataset['RainWaterHarvesting']==1) &
                      (dataset['IndoorGames']==1) & (dataset['Intercom']==1) & (dataset['ClubHouse']==1)&
                      (dataset['24X7Security']==1) & (dataset['PowerBackup']==1) & (dataset['CarParking']==1) & 
                      (dataset['StaffQuarter']==1) & (dataset['MultipurposeRoom']==1) &(dataset['VaastuCompliant'] == 1)&
                      (dataset["Children'splayarea"]==1) & (dataset['LiftAvailable']==1)]

Are you looking for all the basic facilities of a society: yes

In [11]:
print('**Note:** These services increases price drastically.')
response = input('Are you looking for city type society including shoppingMall, sportsfacility(dedicated for different sports): ')

if response == 'yes':
    dataset = dataset[(dataset['ShoppingMall']==1) & (dataset['SportsFacility']==1) & (dataset['ATM']==1)
              & (dataset['School']==1) & (dataset['Cafeteria'])==1 & (dataset['Hospital']==1)]

**Note:** These services increases price drastically.
Are you looking for city type society including shoppingMall, sportsfacility(dedicated for different sports): no

In [12]:
print("Let's go inside house and see what you want: ")
print('You need to provide parameters accordingly:')
print('--> 0: you do not need')
print('--> 1: you do need')
print('--> 9: you are not sure')
need = 0

need = int(input('Do you want Washing Machine: '))
dataset = dataset[dataset['WashingMachine'] == need]

need = int(input('Are you into Golf: '))
dataset = dataset[dataset['GolfCourse'] == need]

need = int(input('Do you want Gas Connection: '))
dataset = dataset[dataset['Gasconnection'] == need]

need = int(input('Do you need internal furnishing including wardrobes, dining hall, sofa: '))
dataset = dataset[(dataset['DiningTable'] == need) & (dataset['Sofa'] == need) & (dataset['Wardrobe'] == need)]

need = int(input('Do you need internal electronic units and wifi: '))
dataset = dataset[(dataset['AC']==need) & (dataset['Wifi']==1) & (dataset['BED']==need) & (dataset['Microwave']==need)
                 & (dataset['TV']==need) & (dataset['Refrigerator']==need)]

Let's go inside house and see what you want:
You need to provide parameters accordingly:
--> 0: you do not need
--> 1: you do need
--> 9: you are not sure
Do you want Washing Machine: 0
Are you into Golf: 0
Do you want Gas Connection: 0
Do you need internal furnishing including wardrobes, dining hall, sofa: 0
Do you need internal electronic units and wifi: 0

In [13]:
dataset.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,...,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator,city
12841,1759,18400000,2630,Kokapet,4,0,1,1,1,1,...,0,1,0,0,0,0,0,0,0,Hyderabad

### Now, working in terms of range

In [14]:
df = pd.read_csv('Main.csv')

In [15]:
lower_limit = 0
higher_limit = 0

In [16]:
print('Give the number of bedrooms you are looking for: ')
lower_limit = int(input('Min number of bedrooms: '))
higher_limit = int(input('Max number of bedrooms: '))

df = df[(df['No. of Bedrooms'] >= lower_limit) & (df['No. of Bedrooms'] <= higher_limit)]

Give the number of bedrooms you are looking for:
Min number of bedrooms: 3
Max number of bedrooms: 4

In [17]:
print('Area of the house: ')
lower_limit = int(input('Min size: '))
higher_limit = int(input('Max size: '))

df = df[(df['Area'] >= lower_limit) & (df['Area'] <= higher_limit)]

Area of the house:
Min size: 2000
Max size: 6000

In [18]:
print('Price range: ')
lower_limit = int(input('Min Price: '))
higher_limit = int(input('Max Price: '))

df = df[(df['Price'] >= lower_limit) & (df['Price'] <= higher_limit)]

Price range:
Min Price: 200000000
Max Price: 500000000

In [19]:
df[['Price','Location']].head()

          Price                 Location
714   355600000  Dwarka New Delhi 110075
759   365000000                Karampura
1397  258500000          Greater Kailash
1520  250000000            Hanuman Nagar
1878  500000000        Mansarovar garden

### In terms of location:

In [20]:
df1 = pd.read_csv('Main.csv')

In [21]:
city = input('Enter prefer city: ')
df1 = df1[df1['city'] == city]

Enter prefer city: Delhi

In [22]:
location = input('Enter preferred location: ')
df1 = df1[df1['Location'] == location]

Enter preferred location: Saket

In [23]:
df[['Area', 'No. of Bedrooms', 'Price']].head()

      Area  No. of Bedrooms      Price
714   2500                4  355600000
759   2800                4  365000000
1397  5503                4  258500000
1520  2150                3  250000000
1878  3460                4  500000000